body{
    background: #f6f6f6;
}
.jd-header-list{

}
.jd-header-warp{
    height:30px;
    border-bottom:1px solid #ddd;
    background:#e3e4e5;
}



.posi{
    width:58px;
    height:31px;
    right:48px;
    top:0;
    border-bottom: 0;
    z-index: 2;

}
.icon-pos{
    width:14px;
    height:14px;
    border-radius:7px;
    background:red;
    top: 7px;
    left: 6px;
}
.posi-title{
    margin-left:26px;
    top: 4px;
}
.posi-all{
    width:320px;
    height:216px;
    top: 30px;
    z-index: 1;
    left: 192px;
    background:#fff;
    padding:12px 18px;
}
.posi-all a{
    line-height:24px;
}
.posi-all a:hover{
    background:#f4f4f4;
    color:#c81623;
}
.posi-all li{
    height:24px;
    margin-bottom:4px;
}
.pHoverStyle{
    background:#fff;
}
.posi-all ul li .active{
    background:red;
    color:#fff;
}
.header-login-link{
    left:244px;
    top:0;
    line-height: 26px;
}
.header-login-link:hover{
    color:#c81623;
}
.header-myjd{
    width:280px;
    height:190px;
    background:#fff;
    right:125px;
    top:30px;
    z-index: 2;
}
.header-myjd-top{
    height:70px;
    padding:10px 15px;
}
.header-myjd-tx{
    width:60px;
    height:60px;
    background:#0a628f;
    border-radius:50%;
}
.header-myjd-r{
    width:124px;
    height:60px;
}

.header-right-list{
    left:28px;
}
.header-right-list li{
    width:84px;
    height:30px;
    padding:0 0 0 5px;
    color:#999;
}
.header-right-list li a{
    line-height:26px;
    color:#999;
    width:90%;
}
.icon-angle-down{
    left: -3px;
    top: 1px;
    font-size:15px;
}
.hoverStyle:hover{
    color:#c81623;
}

.jd-search-area{
    height:140px;
}
.jd-search-area .w-wrap{
}
#logo{
    width:190px;
    height:170px;
    left:0;
    top:-30px;
    line-height:170px;
}
.jd-search-inner-wrap{
    height:60px;
    width:100%;
    left:0;
    top:0;
}
.jd-grid-wrap{
    height:480px;
    margin-bottom:10px;
}
.jd-seckill-wrap{
    height:305px;
}
.jd-fbt-wrap{
    height:444px;
}
.jd-coupon-wrap{
    height:215px;
}
.jd-rec1-wrap{
    height:100px;
}
.jd-lives-wrap{
    height:578px;
}
.jd-portal-wrap{
    height:523px;
}
.jd-entry-wrap{
    height:405px;
}
.jd-spec-wrap{
    height:195px;
}
.jd-more-wrap{
    height:6555px;
}
.jd-service-wrap{
    height:103px;
}
.jd-copyright-wrap{
    height:193px;
}
.jd-help-wrap{
    height:200px;
}